* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  max-width: 960px;
  padding-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.full-post {
  background-color: #fff;
  padding: 30px;
}

.content {
  padding: 30px 0;
}

.login-form {
  width: 500px;
  margin: 0 auto;
}